<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example test run">
<listeners>
	<listener class-name="com.google.listeners.Listener"></listener>
</listeners>

  <test name="Simple Test">
    <classes>
      <class name="com.google.tests.GoogleHomePageTest"/>
      <class name="com.google.tests.CopyOfGoogleHomePageTest"/>
      
    </classes>
  </test>
</suite>